<h2>String Interpolation Examples</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">String Interpolation Dos</h4>        
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Simple Code Expression :  {{4+5}}</li>
        <li class="list-group-item">String Bind example : {{str1}}</li>
        <li class="list-group-item">Number Bind Example : {{num1}}</li>
        <li class="list-group-item">Boolean Bind Example : {{bool1}}</li>
        <li class="list-group-item">Any Type Bind Example : {{someVal}}</li>
        <li class="list-group-item">Function Result Bind Example : {{GetName()}}</li>
        <li class="list-group-item">Image Source Bind 
            <img src={{imageSrc}} height="100px" width="100px" >
        </li>
    </ul>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">String Interpolation Don'ts</h4>        
    </div>
    <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">Assignments cannot be done :  {{str1="Test2"}}</li> -->
        <!-- <li class="list-group-item">New Objects cannot be created :  {{new Product()}}</li> -->
        <!-- <li class="list-group-item">Chained expression cannot be written :  {{4+5,5+6}}</li> -->
        <!-- <li class="list-group-item">Chained expression cannot be written :  {{4+5;5+6}}</li> -->
    </ul>
</div>