<div class="container">
  <form [formGroup]="studentForm" (ngSubmit)="OnSubmit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control" id="FirstName" [formControlName]="'FirstName'"
            placeholder="First Name">
          <small *ngIf="studentForm.controls.FirstName.invalid && studentForm.controls.FirstName.dirty">Enter First
            Name</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="Last Name">
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="EmailId">Email Id</label>
          <input type="text" class="form-control" id="EmailId" formControlName="EmailId" placeholder="Email Id">
          <small *ngIf="studentForm.get('EmailId').errors?.required && studentForm.get('EmailId').dirty">Enter First
            Name</small>
          <small *ngIf="studentForm.get('EmailId').errors?.pattern && studentForm.get('EmailId').dirty">Invalid Email
            Id</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="MobileNo">Mobile No</label>
          <input type="text" class="form-control" id="MobileNo" formControlName="MobileNo" placeholder="Mobile No">
        </div>
      </div>
    </div>
    <div class="card" style="margin-top: 10px;" [formGroupName]="'Address'">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="AddLine1">Address Line 1</label>
              <input type="text" class="form-control" id="AddLine1" formControlName="AddLine1" placeholder="Add Line 1">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="AddLine2">Line1</label>
              <input type="text" class="form-control" id="AddLine2" formControlName="AddLine2" placeholder="Add Line 2">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="AddLine3">Line 3</label>
              <input type="text" class="form-control" id="AddLine3" formControlName="AddLine3" placeholder="AddLine3">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="City">City</label>
              <input type="text" class="form-control" id="City" formControlName="City" placeholder="City">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="State">State</label>
              <input type="text" class="form-control" id="State" formControlName="State" placeholder="State">
            </div>
          </div>
        </div>
      </div>
    
    <button type="submit" [disabled]="studentForm.invalid" class="btn btn-primary">Save</button>
  </form>
</div>