<div class="container">
  <h3>Products List</h3>
  <div basic-highlight>{{message}}</div>
  <!-- <div better-highlight [defaultColor]="'chartreuse'">Better Highlight Example</div> -->
  <div [better-highlight]="'yellow'" highlightColor="chartreuse">Better Highlight Example</div>
  <div *ngIf="childData?.length>0" class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{childData}}</strong> 
  </div>
  <script>
    $(".alert").alert();
  </script>
  <div class="row">
    <div class="col-md-2">
      Filter Products :
    </div>
    <div class="col-md-2">
      <input type="text" [(ngModel)]="filterText" class="form-control">
    </div>
    <div *unless="filterText.length==0" class="col-md-2 alert alert-info">
      {{filterText}}
    </div>
    <div class="col-md-2">
      <a routerLink="/home">Home</a>
    </div>
    
    <!-- <ng-template [ngIf]="filterText.length>0">
      <div class="col-md-2 alert alert-info">
        {{filterText}}
      </div>
    </ng-template> -->

  </div>

  <div class="row">
    <div style="margin-top: 20px;" class="col-md-4" *ngFor="let prod of products | filter:'productName':filterText">
      <product-thumbnail [prod]="prod" (SendToParent)="ChildDataReceived($event)"></product-thumbnail>
    </div>
  </div>
</div>