<div class="card">
  <div class="card-header">
    <!-- <h3>{{product.productName | uppercase | lowercase }}</h3> -->
    <h3>{{product.productName | uppercase }}</h3>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{product.productCode | lowercase}}</h4>
    <div class="row">
      <div class="col-md-6">Current Date :</div>
      <div class="col-md-6">{{currentDate | date : 'yyyy/MM/dd'}}</div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">Release Date :</div>
      <div class="col-md-6">{{product.releaseDate}}</div>
    </div> -->

    <div class="row">
      <div class="col-md-6">Price :</div>
      <div class="col-md-6">{{product.price | currency :'EUR':true:'2.2-2'}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">Description :</div>
      <div class="col-md-6">{{product.description?.descText | shorten}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">Image :</div>
      <div class="col-md-6">
        <img [src]="product.imageUrl" height="100px" width="100px" [alt]="product.productName">
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button type="button" class="btn btn-primary" [routerLink]="['/productdetails',product.productId,{pName:product.productName,pCode:product.productCode}]" >Details</button>
    <button type="button" class="btn btn-info" (click)="notify()" >Notify</button>
  </div>
</div>